<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="YAN.Demo.BindToSetting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YAN.Demo.BindToSetting.Properties.Settings>
            <setting name="StringSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="StringCollectionSetting" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>9/9/2020 11:30:45 PM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StringCollectionToObjectSetting" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>9/9/2020 11:30:45 PM</string>
                        <string>true</string>
                        <string>9/9/2020 11:41:45 PM</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
        </YAN.Demo.BindToSetting.Properties.Settings>
    </userSettings>
</configuration>